# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
venv/
.env/
.envrc/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# IDEs / Editors
# =========================
.idea/
.vscode/

# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db

# =========================
# Project specific
# =========================
data/*.out
scratch.py
data/out.txt